#console-container {
    position: absolute;
    bottom: 275px;
    left: 20px;
    width: 645px;
    height:600px;
    background-color: rgb(0,0,75);
    color:orange;
    border: 2px solid orange;
    border-radius: 2px;
    overflow: auto;
    font-size:16pt;
    z-index: 9999; /* Set a high z-index value to make it float above other elements */
}


.console-hidden {
    display:none;
}

#toggle-button-console {
    font-family: sans-serif;
    border-style:inset;
    font-size:32pt;
    position: fixed;
    bottom: 182px;
    left: 600px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(0,0,75);
    color: orange;
    border: none;
    cursor: pointer;
    z-index: 999; /* Ensure the button is above the console */
}


#help-box {
    position: absolute;
    bottom: 275px;
    right: 20px;
    width: 600px;
    height:600px;
    background-color: rgb(0,0,75);
    color:orange;
    border: 2px solid orange;
    border-radius: 2px;
    overflow: auto;
    font-size:16pt;
    z-index: 9999; /* Set a high z-index value to make it float above other elements */

}

#toggle-button-help {
    font-family: sans-serif;
    border-style:inset;
    font-size:32pt;
    position: fixed;
    bottom: 182px;
    right: 555px;
    padding: 10px 20px 10px 15px;
    border-radius: 2px;
    background-color: rgb(0,0,75);
    color: orange;
    border: none;
    cursor: pointer;
    z-index: 999; /* Ensure the button is above the console */

}