body {background-color:#000;}

.grid-container {
  display: none;
  grid-template-columns: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
  background-color: #222;
  width: 800px;
  padding: 4px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.3);

  padding-top:30px;
  padding-bottom:30px;
  
  font-size: 12px;
  text-align: center;
}
.grid-item-clicked {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px;
  font-size: 12px;
  text-align: center;
}

.grid-item.purple {
  background-color: rgba(204, 153, 255, 0.8);
}
.grid-item-clicked.purple {
  background-color: rgba(153, 51, 255, 0.99);
}
.grid-item.orange {
  background-color: rgba(255, 204, 153, 0.8);
}
.grid-item-clicked.orange {
  background-color: rgba(255, 153, 51, 0.99);
}
.grid-item.green {
  background-color: rgba(153, 255, 153, 0.8);
}
.grid-item-clicked.green {
  background-color: rgba(51, 233, 51, 0.99);
}
.grid-item.blue {
  background-color: rgba(153, 204, 255, 0.8);
}
.grid-item-clicked.blue {
  background-color: rgba(0, 128, 255, 0.99);
}

.button {
  background-color: rgba(200,0,0,0.99);
  border: 2px 2px 2px 2px;
  border-style: groove;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 20px;
}

.button2 {
  position:relative;
  top:2px;
  background-color: rgba(0,0,200,0.99);
  border: 2px 2px 2px 2px;
  border-style: groove;
  color: black;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 20px;
}

.warningtext {
  color: red;
}

.blinking{
	animation:blinkingText 2s infinite;
  font-size:20pt;
}
@keyframes blinkingText{
	0%{background-color: #F00;	color: #000;}
	50%{background-color: #000;	color: #F00;}
	100%{background-color: #F00;	color: #000;}
}

.console{
  background-color:#000;
  color:#F00;
  font-size: 16pt;
  height:20%;
}

.console.hidden {
  visibility:hidden;
}

.white-subtitle { color:white;}

/* Single Cell Grid Experiment */

.grid {
  background-color: black;
  display: grid;
  height: 350px;
  width:350px;
  grid-template-rows: 9% 78% 9%;
  grid-template-columns: 9% 78% 9%;
  grid-gap:2%;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}


/* Three Cell Types Experiment */

.outer-grid {
display:grid;
}

.l-cell-grid {
  background-color: black;
  display: grid;
  height: 250px;
  width:250px;
  grid-template-rows: 9% 78% 9%;
  grid-template-columns: 9% 78% 9%;
  grid-gap:2%;

}

.l-cell-square {
  background-color:orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.l-cell-r-wall {
  background-color: blue;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.l-cell-b-wall {
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.r-cell-grid {
  background-color: black;
  display: grid;
  height: 250px;
  width:250px;
  grid-template-rows: 9% 78% 9%;
  grid-template-columns: 9% 78% 9%;
  grid-gap:2%;

}

.r-cell-square {
  background-color:orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  
}
.r-cell-b-wall {
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}


.b-cell-grid {
  background-color: black;
  display: grid;
  height: 250px;
  width:250px;
  grid-template-rows: 9% 78% 9%;
  grid-template-columns: 9% 78% 9%;
  grid-gap:2%;

}

.b-cell-square {
  background-color:orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  
}
.b-cell-r-wall {
  background-color: blue;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ref-cell-grid {
  background-color: black;
  display: grid;
  height: 200px;
  width:200px;
  grid-template-columns: 3% 88% 3% 10%;
  grid-template-rows: 3% 85% 3% 13%;
}

.ref-cell-square {
  background-color:orange;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ref-cell-r-wall {
  background-color: blue;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ref-cell-b-wall {
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
