
/* Tailwind boilerplate. Leave alone */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mytest {color:red;background-color:green;}
.onerow {width:50%; display:grid; grid-template-columns: 20% 20% 20% 20% 20%;}

/*     src: url(fonts/excelerate/Excelateo.ttf); */

@font-face {
    font-family: excelerate;
    src: url(public/Excelateo.ttf);
  }
  
  .excelfont { 
    font-family:excelerate;
    font-size:48pt;
    color:orange;
    text-align:center;
  }

  body {background-color:#000;}

.warningtext {
  color: red;
}
.blinking{
	animation:blinkingText 2s infinite;
  font-size:20pt;
}
@keyframes blinkingText{
	0%{background-color: #F00;	color: #000;}
	50%{background-color: #000;	color: #F00;}
	100%{background-color: #F00;	color: #000;}
}
.console{
  background-color:#000;
  color:#F00;
  font-size: 16pt;
  height:20%;
}
.console.hidden {
  visibility:hidden;
}

.main-container {
  position:absolute;
  display:block;
  left:20%;
  width: 60%;
  background-color:black;
}

/* Fixing excess height: https://stackoverflow.com/questions/2920114/how-to-auto-adjust-the-div-height-according-to-content-in-it */
.board-container {
  margin-top:-8.5%;
  margin-right:5%;
  margin-bottom:2%;
  min-height:100px;
  background-color:black;
}

/* This works, but is quite hacky. The div seems to overflow */
.ref-cell-container {
  position:relative;
  right:3%;
  display:grid;
  width: 720px;
  grid-template-columns: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
  row-gap:9px;
  column-gap: 9px;
  background-color:black;
  margin: 10% 25% 10% 25%;
}

.status-container {
  margin-top: -8%;
  display:grid;
  grid-template-columns: 100%;
}

.player-container {
  padding: 5px 0px 0px 0px;
  display:grid;
  grid-template-columns: 50% 49%;
  column-gap:13px;
  background-color:black;

}

/*for hovering */
.square-lighter {background-color:rgb(0,0,150) !important;}

/* for hovered walls */
.wall-lighter {background-color:rgb(75,75,225) !important;}

/*for selection and placement, also current position */
.square-lightest {background-color:rgb(0,0,225) !important;}

/* for placed and selected walls rgb(150,150,225)*/
.wall-lightest {background-color: orange !important;}


.player-stats {
  width:100%;
  background-color:black;
}

.hidden {
visibility:hidden;
}


.app-container{
    display:grid;
    grid-template-columns: 70% 30%;
}

.connect-title {
  font-size:24pt;
  background-color:orange;
  color:black;
  border-radius:5px;
  text-align:center;
}

.player-title {
    font-size:24pt;
    background-color: black;
    color:orange;
    border-radius:5px;
}

.player-title-invert {
        font-size:24pt;
        background-color:orange;
        color:black;
        border-radius:5px;
}

.wall-chart {
    margin-top:5px;
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.wall-indicator-on {
    margin: 1% 1% 2% 25%;
    border-radius:2px;
    text-align:center;
    background-color:rgb(0,0,150);
    color: orange;
}

.wall-indicator-off {
  margin: 1% 1% 2% 25%;
  border-radius:2px;
  text-align:center;
  background-color:rgb(0, 0, 64);
  color: rgb(95, 62, 0);
}


.ref-cell-grid {
  background-color: black;
  display: grid;
  height: 80px;
  width: 80px;
  grid-template-columns: 3% 88% 3% 10%;
   grid-template-rows: 3% 88% 3% 10%; 
}

.ref-cell-square {
  background-color: rgb(0,0,75);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ref-cell-r-wall {
  background-color: rgb(0,0,150);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ref-cell-b-wall {
  background-color: rgb(0,0,150); 
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.connect-container {
background-color:black;
margin-bottom:5px;
}

.connect-box {
  width:60%;
  margin-left:25%;
}

.connect-container-hidden {
visibility:hidden;
}

.input-label {
  color:orange;
}

.input-username {
 
  background-color:black;
  color:orange;
  height:20px;
  width: 45%;
  font-size:14pt;
}

.send-request-button {
    background-color: rgb(0,0,150);
    border: 2px 2px 2px 2px;
    border-radius: 4px;
    color: orange;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
  
}


#console-container {
  position: absolute;
  bottom: 275px;
  left: 20px;
  width: 645px;
  height:600px;
  background-color: rgb(0,0,75);
  color:orange;
  border: 2px solid orange;
  border-radius: 2px;
  overflow: auto;
  font-size:16pt;
  z-index: 9999; /* Set a high z-index value to make it float above other elements */
}


.console-hidden {
  display:none;
}

#toggle-button-console {
  font-family: sans-serif;
  border-style:inset;
  font-size:32pt;
  position: absolute;
  bottom: 182px;
  left: 600px;
  padding: 10px;
  border-radius: 2px;
  background-color: rgb(0,0,75);
  color: orange;
  border: none;
  cursor: pointer;
  z-index: 999; /* Ensure the button is above the console */
}


#help-box {
  position: absolute;
  bottom: 275px;
  right: 20px;
  width: 600px;
  height:600px;
  background-color: rgb(0,0,75);
  color:orange;
  border: 2px solid orange;
  border-radius: 2px;
  overflow: auto;
  font-size:16pt;
  z-index: 9999; /* Set a high z-index value to make it float above other elements */

}

#toggle-button-help {
  font-family: sans-serif;
  border-style:inset;
  font-size:32pt;
  position: absolute;
  bottom: 182px;
  right: 555px;
  padding: 10px 20px 10px 15px;
  border-radius: 2px;
  background-color: rgb(0,0,75);
  color: orange;
  border: none;
  cursor: pointer;
  z-index: 999; /* Ensure the button is above the console */

}
